@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">State Management</h1>
    <p>Session: @ViewBag.SessionUserName</p>
    <p>Cookie: @ViewBag.CookieUserName</p>
    
</div>
