@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        SelectListItem[] liste = new SelectListItem[2]
                {
                  new SelectListItem() { Text = "Ali"},
                  new SelectListItem() { Text = "Veli"}
                };
    }
</div>
@using (Html.BeginForm())
{
    @Html.TextBox("ad")
    <br/>
    @Html.DropDownList("kisiler",liste)
    <br/>
    @("Onaylıyorum: ") @Html.CheckBox("onay")
    <br/>
    <input type="submit" value="Form Gönder" />

}

@* <form method="POST">
    <input type="text" name="ad" />
    <br/>
    <select name="kisiler">
        <option>Ali</option>
        <option>Veli</option>
    </select>
    Onaylıyorum: <input type="checkbox" name="onay" />
    <br/>
    <input type="submit" value="Form Gönder" />
</form> *@